
.Post {
  position: relative;
  height: 200px;
  overflow: hidden;
  text-align: center;
  border: 3px solid white;
  border-radius: 10px;
  background-color: #257f98cb;
}

.Post>p {
    height: 70px;
    overflow: hidden;
}

.readMore {
    position: absolute;
    bottom: 1px;
    right: 35%;
}

.readMore:hover {
    background-color: rgb(44, 44, 44);
    color: #61dafb;
}

.readMore:active {
    transform: translateY(2px);
}

.PostClicked {
    height: auto;
    position: absolute;
    z-index: 1;
    background-color: #257f98;
    width: 30%;
    border: 3px solid white;
    border-radius: 10px;
  }
  
  .PostClicked>p {
    height: auto;
  }