
.Post {
  position: relative;
  height: 200px;
  overflow: hidden;
  text-align: center;
  border: 3px solid white;
  border-radius: 10px;
  background-color: #257f98cb;
}

.Post>p {
    height: 70px;
    overflow: hidden;
    margin: 5px;
}

.Post>h3 {
  height: 49px;
  overflow: hidden;
}

.readMore {
    bottom: 2px;
    right: 35%;
}

.readMore:hover {
    background-color: rgb(44, 44, 44);
    color: #61dafb;
}

.readMore:active {
    transform: translateY(2px);
}

.PostClicked {
  height: auto;
  position: absolute;
  z-index: 2;
  background-color: #257f98;
  min-width: 195px;
  width: 30%;
  border: 3px solid transparent;
  border-radius: 10px;
  margin: 0px;
}
  
  .PostClicked>p {
    height: auto;
    margin: 5px;
  }